
     body {
            background-color: rgb(255, 255, 255);
        }
        
        .dropdown {
            position: relative;
            display: inline-block;
            background-color: rgb(0, 0, 0);
            color: rgb(255, 255, 255);
            padding: 10px;
            cursor: pointer;
            border-radius: 23px;
        }
        
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: white;
            min-width: 200px;
            max-height: 150px; /* Set a maximum height for the dropdown content */
            overflow-y: auto; /* Enable vertical scrollbar */
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            color: black;
        }
        
        .dropdown-content a {
            display: block;
            padding: 10px;
            text-decoration: none;
            color: black;
        }
        
        .dropdown:hover .dropdown-content {
            display: block;
        }
        
        .submit-btn {
            display: grid;
            background-color: rgb(0, 0, 0);
            color: rgb(255, 255, 255);
            padding: 6px;
            margin-top: 5px;
            cursor: pointer;
            border-radius: 35px;
        }


:root {
    
    color:white;
    }
    
    
    html {
      scroll-behavior: smooth;
    }
    
    * {
      margin: 0;
      padding: 0;
    }
    section{
        margin-top: 46px;
    }
    
    .hero{
        background-image:url("images/s.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;
        
    
        
    }
    .hero-text{
        background-color: rgba(4,7,32,0.5);
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h1,h2,h3,h4,h5,h6{
        color:white;
        
        border-top:none;
        border-bottom: none;
        padding: 90px 30px;
        text-transform: uppercase;
        font-size: 60px;
        font-weight: 400;
        
    }
    .about{
        
        height: 700px;
        background-image: url("images/s.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        background-position: center;
        
    
        
    }
    .icons{
        font-size: 20px;
        letter-spacing: 5px;
    
    }
    .title{
        color:white;
        width:100%;
        margin:auto;
        padding:60px 10px;
        font-size: 50px;
        font-weight: 600;
        margin-left: 10%;
        text-transform: uppercase;
        width: 80%; 
        
    }
    .about-main{
        width: 90%;
         
        margin: auto;
        display: flex;
        justify-content: space-between;
        
    }
    .about-text{
        background-color: rgb(16, 19, 47);
        padding: 30px ;
        width:500px;
        
    }
    
    h3{
        font-size: 40px;
        
        font-weight: 600;
        
    }
    h4{
        text-transform: uppercase;
    }
    #navDemo a{
        font-size: 12px;
    }
    
    
    /*MEDIA QUERIES*/
    /*Large screens - Desktop*/
    @media screen and (min-width: 1700px) {
        section{
            background-color: rgba(4,7,32,0.9);
        }
        .hero{
            
            margin: auto;
            height: 900px;
        }
        .hero-text{
            height: 900px;
        }
    }
    
    /*medium screens - Laptops*/
    @media screen and (max-width: 1024px) {
        .hero{
            background-image:url("images/s.jpg");
            height: 500px;
            background-position: center;
        }
        .hero-text{
            height: 500px;
        }
        h1{
            font-size: 70px;
        }
    }
    
    /*Small screens - tablets*/
    @media screen and (max-width: 768px) {
        .hero{
            background-image:url("images/s.jpg");
            height: 600px;
            background-position: center;
        }
        .hero-text{
            height: 600px;
        }
        h1{
            font-size: 60px;
        }
        .about{
            overflow: hidden;
        }
        .about-text{
            background-color: rgba(4,7,32,.5);
            
        }
        .card{
            width: 90%;;
        }
        .card-list{
            width: 250px;
        }
        .title{
            font-size: 36px;
        }
    }
    
    /*Extra small screens - phones*/
    @media screen and (max-width: 480px) {
        .hero{
            background-image:url("images/s.jpg");
            height: 500px;
            background-position: center;
            
    
        }
        .hero-text{
            height: 500px;
        }
        h1{
            font-size: 40px;
        }
        .about-text{
            background-color: rgba(4,7,32,.3);
            
        }
        .title{
        font-size: 30px; 
        padding:30px 10px;  
        
        }
        h3{
            font-size: 25px;
        }
        .about{
            height: 500px;;
            overflow: hidden;
            background-position-x:left ;
        
        }
        .card{
            width: 100%;;
        }
        .card-list{
            width: 300px;
        }
    }
    